/bin
	キャリアビジョンは結論から言うになること
自己PRではネガティブ系の言葉は入れない
経験を複数書いても問題ない

純粋に不安に思っているところ
会社の文化
11月のやつは自己PR

何でエンジニアを目指した
社会に対してインパクトを与えたい理由は？

1, 2番はしっかりと考える。そこから別のやつを降ろしてくるように考える。

CTOに近い存在になるのは何で
違和感のない社会にすることはどういう人が助かるのか。何でそう思ったのか？
何でエンジニアに憧れたのか？エンジニアにしかできない何かがある？
スタートアップの経験を経て、アイデアを形にする
してほしい人たちのアイデアを発見し形にできること、これは社会のためにもなるよね

インターンのところも書けそうであれば、プロセスなどもしっかりとかく
インターンの部分がかなりアピールポイントになる。

スライドを一旦頑張る